h1{
    text-align:center;
}


#container{
  padding-right: 30%;
  padding-left: 30%;
padding-top:5%}

#submit{
    padding-right: 30%;
    padding-left: 30%;
  padding-top:5%}
  
body{
    background-color:#cbeaed;
}

